#
# Container name for mongo
#
MONGO_CONTAINER_NAME=mongo

#
# Mongo Root User and Password
#

MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root

#
# Init DataBase
#
MONGO_DATABASE_NAME=demo


#
# Container name for mongo express
#
MONGO_EXPRESS_CONTAINER_NAME=mongo-express

#
# Path where your Gitlab files will be located
#
MONGO_DATA_PATH=${PWD}/mongo/data/

#
# Your domain (or domains)
#
VIRTUAL_HOST=mongo.domain.com,www.mongo.domain.com

#
# Mongo express port number
#
VIRTUAL_PORT=8081


#
# Your domain (or domains) for SSL certificate
#
LETSENCRYPT_HOST=mongo.domain.com,www.mongo.domain.com

#
# Your email for Let's Encrypt register
#
LETSENCRYPT_EMAIL=your_email@domain.com


#
# Network name
# 
# Your container app must use a network connected to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy
